<br/><br/>
<div id="conteudo">
<table width="70%" border="1" align="center" class="login">
  <tr>
    <td colspan="2" align="center">
<!--      <font color="red" size="4">< %= link_to "Área de Consultas", visaos_path %></font>-->
    </td>
  </tr>
  <tr>
     <td rowspan="2">
       <center><div id="img"></div></center>
     </td>
     <td width="40%" align="center">

         <p align="center"><font color="blue" size="3"><b><u>PONTUA</b></u></font></p>
       <p align="center"><font color="blue" size="3">Conforme Art. 11  do Decreto 12.093 de Setembro de 2008 são válidos para pontuação somente  cursos conduração mínima de 4 horas </b></font></p>

       
       
     </td>

  </tr>

         <tr>
           <td align="center"><font color="RED" size="2"><%= button_to 'Voltar', new_titulo_professor_path, {:method => "get"}  %></font></td>
          </tr>


 </table>
</div>
<br/>