<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca1">Selecionar Obreiro:</b></font>
        <%= collection_select :obreiro, :obreiro_id, @obreiros, :id, :nome, :include_blank => ' -- Selecionar -- ', :class=> "txt_busca1"  %>
          <%= observe_field 'obreiro_obreiro_id',
               :update => "obreiros",
               :url    => { :action => 'lista_obreiro_nome' },
               :with   => 'obreiro_obreiro_id' %>

         
     </td>
   </tr>
  </table>

