
<table border="1" frame="box" rules="all" width="100%">
  <tr>
   <td align="left" colspan="3">
     <% @obreiro.unidades.each do |unidade| %>
      z<b>-</b> <%="#{unidade.nome}" %><br/>
     <%end%>
   </td>
  </tr>

</table>


