
<div id="interno2">
<% title "PROFESSOR" %>
<div class ="tabs">

 <hr>
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td> Dados Salvaos com sucesso

   </td>
  </tr>
 </table>

    <table>
         <tr>

             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>
 
           
</div>
<br/>
</div>



